<div class="body">
  <div class="container">
    <div class="row justify-content-center align-item-center h-100">
      <div class="col-md-4 mt-5">
        <form action="">
          <label for="">username: </label>
          <input type="text" name="name" required="true" minlength="6" [(ngModel)]="name"  #username="ngModel" [class.is-invalid]="username.invalid && username.touched" [class.is-valid]="username.valid && username.touched" class="form-control my-2" />
          <span *ngIf="username?.errors?.['required'] && username.touched" class="text-danger text-bold">name is required</span><br>
          <label for="">email:</label>
          <input type="text" name="email" required="true"  [(ngModel)]="email"  #emailadd="ngModel" [class.is-invalid]="emailadd.invalid && emailadd.touched" [class.is-valid]="emailadd.valid && emailadd.touched" class="form-control my-2" />
          <span *ngIf="emailadd?.errors?.['required'] && emailadd.touched" class="text-danger text-bold">email is required</span><br>
          <label for="">password: </label>

          <input type="text" class="form-control my-2" name="password" required="true" [(ngModel)]="password" #passcode="ngModel" [class.is-invalid]="passcode.invalid && passcode.touched" [class.is-valid]="passcode.valid && passcode.touched"/>
        
          <button class="btn btn-success w-100" (click)="signup()">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
