<div class="homebody ">
    <div class="col-md-6 mx-auto pt-5">
        <div class="container bg-light shadow ">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <b>Amos Keep is a note-taking service included as part of the free, web-based Google Docs Editors suite offered by Google. The service also includes: Google Docs, Google Sheets, Google Slides, Google Drawings, Google Forms and Google Sites.</b>
                </div>
            </div>
        </div>
    </div>
  
    

</div>
